html {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

body{
    min-height: 100vh;
    margin: 0;
    position: relative;
    background-color: #d6d6d6;  
    font-family: 'Open Sans', sans-serif;
}

/****************TABELA****************/
#tabela{
margin-bottom: 100px;
}

#tabela img{
    height: 60px;
    width: auto;
}

.opistabela{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
}

/****************ADMIN FORMA****************/
#formaadmin{
max-width: 400px;
}

/****************FOOTER****************/
#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgba(255,255,255,.5);
    background-color: #212529;
    padding: 10px 0px;
    height: 80px;
}